{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block content %}
<div class="jumbotron">
  <h2>这里是大圣同人画廊~</h2>
  <p>本站图片来自微博豆瓣堆糖等网站，对于知道作者的图片已打上作者tag，如果有作者的作品没有打上标签请戳<a href='http://tieba.baidu.com/p/3900334961'>帖子</a>联系本人。</p>
  <p>建立这个网站的目的是给喜欢大圣归来同人的亲们一个交流的平台，所有作品尊重作者版权，不以盈利为目的，如果作者声明不允许转载将立刻删除。</p>
  <p>现在刚刚加上用户系统不过并没有什么卵用，后续功能之后再加，感谢支持！</p>
</div>
<div class="grid-sizer"></div>
{% for photo in photos %}
<div class="grid-item">
  <a href="p/{{photo.id}}/">
    <img src="{{photo.url}}">
  </a>
  <p>{{photo.title}}</p>
  <p>{% for tag in photo.tags.all %} <a href='/t/{{tag.id}}/'>{{tag.name}}</a> {% endfor %}</p>
</div>
{% endfor %}
{% endblock %}