{% extends "index.html" %}
{% block title %}{{tag.name}}{% endblock %}
{% block content %}
<div class="jumbotron">
{% if tag.is_author %}
  <h1 align="center"><a href="{{tag.author_link}}">{{tag.name}}</a></h1>
{% else %}
  <h1 align="center">{{tag.name}}</h1>
{% endif %}
</div>
<div class="grid-sizer"></div>
{% for photo in photos %}
<div class="grid-item">
  <a href="/p/{{photo.id}}/">
    <img src="{{photo.url}}">
  </a>
  <p>{{photo.title}}</p>
  <p>{% for tag in photo.tags.all %} <a href='/t/{{tag.id}}/'>{{tag.name}}</a> {% endfor %}</p>
</div>
{% endfor %}
{% endblock %}